<template>
  <div>
    <Logo />
    <h1>{{ title }}</h1>
    <router-link :to='{name: "gallery"}'>Все альбомы</router-link>
    <div class="container" v-if="$route.params.album">
      <gallery :images="images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image + ')', width: '300px', height: '200px' }"
    ></div>
    </div>
   
  </div>
</template>

<script>
import VueGallery from 'vue-gallery';
import ad from '@/albumData.js';
import Logo from './Logo';

export default {
	data: function () {
		return {
			index: null
		};
	},
	computed: {
    album() {
      return this.$route.params.album;
    },
    title() {
      return (this.album) ? ad[this.album].title : '';
    },
    images() {
      return (this.album) ? ad[this.album].images : [];
    },
		list() {
			return Object.keys(ad);
		},
		ad() {
			return ad;
		}
	},
	components: {
		'gallery': VueGallery,
		Logo
	},
}
</script> 



<style>
h1 {
  color: #F8F7CA !important;
}
body {
  background-color: rgb(41, 43, 44) !important;
}
.container {
  /* flex-flow: column wrap; */
  /* justify-content: space-between; */
  text-align: center;
}

.container .image {
  display: inline-block;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* align-self: stretch; */
}
a.close, a.prev, a.next {
  color: white !important;
}
</style>