<template>
  <div>
    <Logo />
     <div class="container menu">
        <li v-for="l in list" :key="l">
        <router-link :to='{name: "album", params: {album: l}}'>{{ad[l].title}}</router-link>
        </li>
     </div>


  </div>
  
</template>

<script>
  import VueGallery from 'vue-gallery';
  import ad from '@/albumData.js';
  import Logo from './Logo';

  export default {
    data: function () {
      return {
        index: null
      };
    },
    computed: {
      // images() {
      //   const album = this.$route.params.album;
      //   return ad[album].images;
      // },
      // title() {
      //   const album = this.$route.params.album;
      //   return ad[album].title;
      // },
      list() {
        return Object.keys(ad);
      },
      ad() {
        return ad;
      }
    },
    components: {
      'gallery': VueGallery,
      Logo
    },
  }
</script> 



<style>
body {
  background-color: rgb(41, 43, 44) !important;
}
.container {
  /* flex-flow: column wrap; */
  /* justify-content: space-between; */
  text-align: center;
}
.menu li {
  list-style: none;
  font-size: 19px;
}
.container .image {
  display: inline-block;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* align-self: stretch; */
}
a.close, a.prev, a.next {
  color: white !important;
}
</style>