<template>
<div class="home">
   <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-controls="navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button> <a id="header-logo1" class="nav-link" href="#" style="padding:0; margin:0;"><img style="height:42px" src="/wp-content/uploads/2017/04/florans.png"></a>
      <a id="header-logo2" class="nav-link" href="#" style="padding:0; margin:0;"><img style="height:42px" src="/wp-content/uploads/2017/04/logo.png"></a>
      <div class="collapse navbar-collapse" id="navbarDiv" style="text-align:center">
         <ul class="navbar-nav mr-auto mt-2 mt-md-0" style="text-align:center">
            <li class="nav-item dropdown" >
               <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">
               <strong>Каталог работ</strong></a>
               <div class="dropdown-menu extra-light">
                  <router-link class="dropdown-item category text-white" v-for="l in list" :key="l" :to='{name: "album", params: {album: l}}'>{{ad[l].title}}</router-link>
               </div>
            </li>
            <li class="nav-item"  >
               <a class="nav-link" href="#about-me">Обо мне</a>
            </li>
            <li class="nav-item"  >
               <a class="nav-link" href="#service">Услуги</a>
            </li>
            <li class="nav-item"  >
               <a class="nav-link" href="#portfolio">Галерея работ</a>
            </li>
            <li class="nav-item"  >
               <a class="nav-link" href="#promo">Специальные предложения</a>
            </li>
            <li class="nav-item"  >
               <a class="nav-link" href="#feedback">Отзывы</a>
            </li>
         </ul>
      </div>
   </nav>
   <body data-spy="scroll" data-target="navbarDiv">
      <div id="home" class="super clearfix" style="background:url('/wp-content/uploads/2017/04/ac-bg1.jpg') no-repeat center center fixed; background-size: cover;">
         <div class="container" >
            <div class="row rounded-bottom soc-onlytop" id="home-contacts" >
               <div class="col-md-6 col-lg-3"><a href="tel:89169288959" ><i class="fa fa-mobile" aria-hidden="true"></i> +7(916) 928 89 59</a></div>
               <div class="col-md-6 col-lg-3"><a href="https://vk.com/annaflorans" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> annaflorans</a></div>
               <div class="col-md-6 col-lg-3"><a href="https://www.instagram.com/annaflorans/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> annaflorans</a></div>
               <div class="col-md-6 col-lg-3"><a href="#contact"><i class="fa fa-envelope" aria-hidden="true"></i> contact@annaflorans.ru</a></div>
            </div>
         </div>
         <div class="container">
         </div>
         <div class="row">
            <p style="width: 100%; text-align: center;"><img class="img-fluid" src="/wp-content/uploads/2017/04/hr.png"></p>
         </div>
         <div class="jumb" style="background: #292B2C;-webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,1);-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,1);box-shadow: 0px 0px 5px 4px rgba(0,0,0,1);margin-top:50px;margin-bottom:50px;padding:50px;">
            <div class="row" id="linemain">
               <p style="width: 100%; text-align: center; padding:20px;"><img class="img-fluid" src="/wp-content/uploads/2017/04/main-light.png"></p>
            </div>
            <div class="row" id="linemainmobile">
               <p style="width: 100%; text-align: center; padding:20px;"><img class="img-fluid" src="/wp-content/uploads/2017/05/main-light-mobile.png"></p>
            </div>
            <div class="row">
               <p style="width: 100%; text-align: center;"><img style="max-width: 50%" src="/wp-content/uploads/2017/04/logo.png"></p>
            </div>
            <div class="row">
               <p class="text-new" style="width: 100%;font-size: 32px; text-align: center; margin-top:20px;"><span class="slideText">Флористика</span></p>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <p style="width: 100%; text-align: center; margin-top:50px; margin-bottom:50px"><img class="img-fluid" src="/wp-content/uploads/2017/04/hr2.png"></p>
            </div>
         </div>
      </div>
      <section id="about-me" class="super-light">
         <div class="super clearfix">
            <div class="row">
               <div class="col">
                  <p style="width: 100%; text-align: center; font-size: 36px;">Обо мне</p>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-12 col-lg-6 clearfix" style="display: flex;
                     align-items: center;">
                     <div class="container">
                        <h4><strong>Я свадебный флорист-дизайнер. </strong></h4>
                        <br />
                        <p style="font-size: 20px">
                           Флористикой занимаюсь довольно давно,также придумываю и создаю аксессуары ручной работы.<br />К каждому клиенту нахожу индивидуальный подход.
                           В общем веселая, креативная, интересная, серьезная, внимательная.<br />
                           <strong>Флористика и дизайн - это моя жизнь.</strong> Не просто увлечена, а влюблена в свою работу. <br /> Закончила международную школу флористики НИКОЛЬ, но на этом не останавливаюсь, посещаю различные мастер-классы, не только в сфере флористики, но и дизайна. <br />С удовольствием помогу организовать Вашу свадьбу. Создать Ваш индивидуальный неповторимый образ, придумать и подобрать наиболее подходящий Вам стиль.<br />
                        </p>
                     </div>
                  </div>
                  <div class="col-12 col-lg-6">
                     <div class="container">
                        <img class="rounded-circle img-fluid" src="/wp-content/uploads/2017/04/avatar.jpg" alt="Anna Florans">
                        <div class="row">
                           <div class="col">
                              <blockquote class="blockquote blockquote-reverse d-inline">
                                 <p class="mb-0"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                    Цветы – остатки рая на земле.  <i class="fa fa-quote-right" aria-hidden="true"></i>
                                 </p>
                                 <footer class="blockquote-footer">Иоанн Кронштадтский
                                 </footer>
                              </blockquote>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="service" style="background:url('/wp-content/uploads/2017/04/bg12.jpg') no-repeat center center fixed; background-size: cover; margin-top:0; padding-top:60px;margin-top: 0px;    ">
         <div class="row">
            <p style="width: 100%; text-align: center; font-size: 28px;"></p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:center">
                  <img class="img-fluid" src="/wp-content/uploads/2017/04/events1.png">
               </div>
               <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:center">
                  <img class="img-fluid" src="/wp-content/uploads/2017/04/flora.png" alt="Флористика">
               </div>
               <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:center">
                  <img class="img-fluid" src="/wp-content/uploads/2017/04/handmade3.png" alt="Аксессуары и украшения ручной работы">
               </div>
               <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:center">
                  <img class="img-fluid" src="/wp-content/uploads/2017/04/ship.png" alt="Доставка по Москве и Московской области">
               </div>
            </div>
         </div>
      </section>
      <section id="portfolio"  style="background: #292B2C; margin-top:0;">
         <p class="text-new" style="width: 100%; text-align: center; font-size: 36px; margin-top:20px;">Галерея работ</p>
         <div class="row">
            <div class="col-sm-12 col-md-4 hover-flash borderth" style="text-align:center;background:url('/wp-content/uploads/2017/05/events.jpg') no-repeat center center;margin:5px;height:500px;position:relative;padding: 0; margin: 0">
               <a href="/gallery/svadba" style="position: absolute; left:0; top:0; height:100%;width:100%;z-index:100"></a>
               <a href="/gallery/svadba">
                  <p class="p-title" style="position: absolute; bottom: 0; font-size:20px; background: #000; opacity: 0.9; color:white;width:100%; padding-top: 10px;padding-bottom: 10px">Оформление мероприятий</p>
               </a>
            </div>
            <div class="col-sm-12 col-md-4 hover-flash" style="text-align:center;background:url('/wp-content/uploads/2017/05/flora.jpg') no-repeat center center; height:500px;position:relative;padding: 0; margin: 0">
               <a href="/gallery/buket" style="position: absolute; left:0; top:0; height:100%;width:100%;z-index:100"></a>
               <a href="/gallery/buket">
                  <p class="p-title" style="position: absolute; bottom: 0; font-size:20px; background: #000; opacity: 0.9; color:white;width:100%; padding-top: 10px;padding-bottom: 10px">Букеты</p>
               </a>
            </div>
            <div class="col-sm-12 col-md-4 hover-flash borderth" style="text-align:center;background:url('/wp-content/uploads/2017/05/decor.jpg') no-repeat center center;margin:5px;height:500px;position:relative;padding: 0; margin: 0">
               <a href="/gallery/new_year" style="position: absolute; left:0; top:0; height:100%;width:100%;z-index:100"></a>
               <a href="/gallery/new_year">
                  <p class="p-title" style="position: absolute; bottom: 0; font-size:20px; background: #000; opacity: 0.9; color:white;width:100%; padding-top: 10px;padding-bottom: 10px">Декор</p>
               </a>
            </div>
         </div>
      </section>
      <section id="promo" >
         <div class="super clearfix">
            <div class="row">
               <p style="width: 100%; text-align: center; font-size: 36px; display: block; ">Специальные предложения<br></p>
            </div>
            <div class="container">
               <div class="row" >
                  <div class="col-md-12 col-xl-6 promo-col">
                     <div class="card promo-card">
                        <div class="row">
                           <div class="col-6">
                              <div class="card-block ">
                                 <h4 class="card-title">При заказе букета невесты</h4>
                                 <div class="card-text" style="margin-bottom:20px">
                                    <h5><strong>В ПОДАРОК</strong></h5>
                                    <ul style="margin-bottom:50px;" >
                                       <li>Бутоньерка</li>
                                       <li>Цветы в прическу</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="col-6" style="background: url('/wp-content/uploads/2017/04/ac1.jpg') center center;background-size:cover;"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-xl-6 promo-col">
                     <div class="card promo-card">
                        <div class="row">
                           <div class="col-6">
                              <div class="card-block ">
                                 <h4 class="card-title">При заказе оформления зала и букета невесты</h4>
                                 <div class="card-text">
                                    <h5><strong>В ПОДАРОК</strong></h5>
                                    <ul>
                                       <li>Бутоньерка</li>
                                       <li>Цветы в прическу</li>
                                       <li>Дублер букета невесты</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="col-6" style="background: url('/wp-content/uploads/2017/04/ac2.jpg') center center;background-size:cover;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div id="feedback" class="super clearfix">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000" style="color: white;width:100%; background: url('/wp-content/uploads/2017/04/5LWFH3wwq7U-1.jpg') center center fixed; background-size:cover;">
            <div class="row">
               <p style="width: 100%; text-align: center; font-size: 36px; padding-top:30px">Отзывы</p>
            </div>
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox" style="margin-left:15%; width:70%;">
               <div class="carousel-item active" style="padding-bottom:30px;">
                  <div style=" min-height:300px;display:flex; align-items:center min-height:300px;display:flex; align-items:center;">
                     <div style="text-align:center; ">
                        <h3>Светлана Бутынина</h3>
                        <p>Попасть на Анечкину страницу мне помогла стилист. Мы обсудили каким может быть букет и каким будет именно мой. Могу сказать, что я не ожидала, что букет будет таким красивым. Огромное спасибо Анне за самый красивый букет цветов. Милые невесты, рекомендую Вам Анечку.</p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="padding-bottom:30px;">
                  <div style=" min-height:300px;display:flex; align-items:center min-height:300px;display:flex; align-items:center;">
                     <div style="text-align:center; ">
                        <h3>Юлия Кривохижена</h3>
                        <p>Анна, безумно благодарна тебе, что ты мне написала! одно из немногого, что запомнилось мне из свадебного дня - это то, когда я увидела букет! ОН БЫЛ ПРЕКРАСЕН! Он был именно такой, как я его себе представляла,но на картинках нигде не видела. Ты меня прекрасно поняла и воплотила все мои желания, в этом чуде! я его с рук не выпускала.. мало того, он не вял.. Подружка, которая его поймала, увезла его в другой город, расстояние 1500 км и он и это преодолел и сейчас красуется в сушенном виде, как живой</p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="padding-bottom:30px;">
                  <div style=" min-height:300px;display:flex; align-items:center min-height:300px;display:flex; align-items:center;">
                     <div style="text-align:center; ">
                        <h3>Анна Иванова</h3>
                        <p>Анну нашла сама, в поисковике. Считаю, что мне крупно повезло! Тема моей свадьбы была "осень". Аня очень грамотно, профессионально подобрала цветы, определила цветовую гамму. Она не только мастер своего дела, но и еще добрый и отзывчивый человек, готовый пойти на уступки. Анна меня не подвела и букет был готов во время. На свадьбе я красовалась с этим шедевром в руках, все его оценили и заметили! После этого события он стоял действительно долго - около двух недель, а значит был сделан с душой! Аня, спасибо огромное за проделанную работу, за пунктуальность! Уже разрекламировала всем подружкам на выдане!</p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="padding-bottom:30px;">
                  <div style=" min-height:300px;display:flex; align-items:center min-height:300px;display:flex; align-items:center;">
                     <div style="text-align:center; ">
                        <h3>Ксения Илюхина</h3>
                        <p>Аня, ты просто мастер своего дела! Я ни на минуту не сомневалась, что ты сделаешь наше торжество яркой сказкой! Ты умница! Поняла сразу с первой встречи все мои задумки и реализовала. Удачи тебе в твоем творчестве! Новых интересных проектов!</p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item" style="padding-bottom:30px;">
                  <div style=" min-height:300px;display:flex; align-items:center min-height:300px;display:flex; align-items:center;">
                     <div style="text-align:center; ">
                        <h3>Мария Исаева</h3>
                        <p>Анну нашла через фотографа, когда в прошлом году готовилась к свадьбе. Стиль свадьбы: венецианский бал, сине-розово-белая гамма. Аня прекрасно справилась с нашим заказом. Букетик, бутоньерка, огромное количество розовых лепестков роз. В этом году с мужем устраивали фотосессию (Love Story: Сон в летнюю ночь) и снова заказали флористику у Анны: веночек, бутоньерку и браслет из цветов на руку. Цветовая гамма и стиль: розово-зеленая, весна, цветущие яблони. Флористика от Анны - просто верх совершенства! Спасибо огромное, Анюта!</p>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <footer class="bg-black">
         <div class="container">
            <div class="row" id="home-contacts">
               <div class="col-md-6 col-lg-3"><a href="tel:89169288959" ><i class="fa fa-mobile" aria-hidden="true"></i> +7 (916) 928 89 59</a></div>
               <div class="col-md-6 col-lg-3"><a href="https://vk.com/annaflorans" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> annaflorans</a></div>
               <div class="col-md-6 col-lg-3"><a href="https://www.instagram.com/annaflorans/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> annaflorans</a></div>
               <div class="col-md-6 col-lg-3"><a href="mailto:contact@annaflorans.ru"><i class="fa fa-envelope" aria-hidden="true"></i> contact@annaflorans.ru</a></div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <a href="#">
                  <p class="w100" style="text-align: center"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> Наверх </p>
               </a>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <p class="w100" style="text-align: center">Москва, Западный АО <i class="fa fa-copyright" aria-hidden="true"></i> AnnaFlorans.RU</p>
            </div>
         </div>
      </footer>
   </body>
</div>
</template>

<script>
import VueGallery from 'vue-gallery';
import ad from '@/albumData.js';
import Logo from './Logo';

export default {
	data: function () {
		return {
			index: null
		};
	},
	computed: {
		list() {
			return Object.keys(ad);
		},
		ad() {
			return ad;
		}
	},
	components: {
		'gallery': VueGallery,
		Logo
	},
}
</script> 

<style type="text/css">
@media (min-width: 1020px) {
	#navbarDiv {
		width: 800px !important;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1020px) {
	.navbar-nav li {
		float: none;
		display: inline-block;
	}
}

body {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	background-color: #F8F7CA !important;
}

.dropdown-menu {
	background-color: #F8F7CA !important;
}

.dropdown-item:hover {
	background-color: black !important;
}

#home {
	padding-top: 65px;
}

.bg-light {
	background: #F8F7CA !important;
}

.lcolr {
	color: #FFFDDC;
}

.super-light {
	background: #FFFDDC;
}

.extra-light {
	background: #FFFFF3;
}

.text-center {
	text-align: center;
}

.super {
	/*height: 100vh;*/
}

#home .main-container {
	/*		height: 70%;
		display: flex;
		align-items: center;*/
}

#home .container .jumb div {
	padding-top: 5vh;
}

.text-new {
	color: #FFFFF3;
	text-shadow: 0 0 3px #000000, 0 0 5px #39652A;
}

a.category,
.dropdown-item:hover {
	background: #151515;
	color: #F8F7CA;
}

a.category {
	background: #292B2C;
}

#home-contacts {
	padding: 15px;
	font-size: 20px;
}

.soc-onlytop {
	background: #F8F7CA !important;
	z-index: 50;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
}

.blockquote-reverse {
	border: none !important;
}

section {
	padding-top: 70px;
	padding-bottom: 50px;
}

#about-me,
#feedback {
	background: #FFFDDC;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(206, 204, 155, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(206, 204, 155, 1);
	box-shadow: 0px 0px 5px 4px rgba(206, 204, 155, 1);
}

.promo-card {
	background: #FFFDDC !important;
}

.promo-card .row .col-6 {
	min-height: 291px;
}

.btn-promo {
	color: #FFFDDC !important;
}

.promo-col {
	margin-top: 40px;
	display: inline-block !important;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 65px;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
}

#contact {
	background: #292B2C;
	margin-top: 0 !important;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
}

#contact .section-header {
	color: #39652A;
}

a {
	color: #000;
}

a:hover {
	color: #39652A;
}

input {
	border: none !important;
}

.input-group {
	margin-bottom: 20px;
}

footer,
footer a {
	color: #FFFFF3;
}

.bg-black {
	background: #000;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
}

#portfolio {
	color: #FFFFF3;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 1);
}

.navbar-inverse .navbar-nav .nav-link {
	color: #FFFDDC !important;
}

#header-logo1 {
	display: none;
}

#header-logo2 {
	display: block;
}

.carousel-item p {
	font-size: 18px;
}

@media screen and (min-width: 1020px) {
	.navbar-nav {
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	.navbar-nav li {
		float: none;
		display: inline-block;
	}
}

@media screen and (max-width: 768px) {
	.borderth {
		border: none;
	}
}

@media screen and (max-width: 1020px) {
	#linemain {
		display: none;
	}
	#linemainmobile {
		display: block;
	}
	#header-logo1 {
		display: block;
	}
	#header-logo2 {
		display: none;
	}
}

.navbar-toggler {
	margin-bottom: 20px
}

.navbar-inverse .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (min-width: 1020px) {
	#linemain {
		display: block;
	}
	#linemainmobile {
		display: none;
	}
}

.borderth {
	border: 15px solid #292B2C;
}

.hover-flash:hover {
	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1020px) {
	.slideText {
		font-size: 7vw;
	}
}

li {
	/* list-style: none !important; */
	text-align: left;
}

.card-text {
	text-align: left;
}
</style>