<template>

        <div class="container">
<div class="row" id="home-contacts">
<div class="col-md-6 col-lg-3"><a href="tel:89169288959" ><i class="fa fa-mobile" aria-hidden="true"></i> +7 (916) 928 89 59</a></div>
<div class="col-md-6 col-lg-3"><a href="https://vk.com/annaflorans" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> annaflorans</a></div>
<div class="col-md-6 col-lg-3"><a href="https://www.instagram.com/annaflorans/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> annaflorans</a></div>
<div class="col-md-6 col-lg-3"><a href="mailto:contact@annaflorans.ru"><i class="fa fa-envelope" aria-hidden="true"></i> contact@annaflorans.ru</a></div>
</div>

    <a href="/">
      <img alt="Vue logo" src="/imgs/logo.png">
    </a>
</div>
</template>